/* Most situable for redmi note 10 */
nav>ul>li{
    font-size: .8rem;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0px;
}
nav li a:-webkit-any-link{
    padding: 0px 10px;
}
.navbar{
    height: 38px;
}
.dropdown li a:-webkit-any-link{
    padding: 0px 3px;
}
h2{
    font-size: 20px;
    padding-bottom: 50%;
}
p {
    top: 80%;
    left: 50%;
    padding-bottom: 50%;
    font-size: 12px;
}
.box{
    width: 220px;
    height: 220px;
    margin-top: 250px;
    margin-bottom: 0px;
}
.imgcontainer img{
    margin-top: 240px;
    margin-bottom: 0px;
    height: 100%;
    max-height: 500px;
}




    