/* Most situable for redmi note 10 */
nav>ul>li{
    font-size: .8rem;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0px;
}
nav li a:-webkit-any-link{
    padding: 0px 10px;
}
.navbar{
    height: 38px;
}
.dropdown li a:-webkit-any-link{
    padding: 0px 3px;
}
h2{
    font-size: 18px;
    padding-bottom: 20%;
}

.box{
    width: 200px;
    height: 200px;
    margin-top: 250px;
    padding-bottom: 10px;
}
.imgcontainer img{
    margin-top: 240px;
    margin-bottom: 0px;
    height: 100%;
    max-height: 500px;
}
.players {
    grid-template-columns: repeat(1, 1fr);
}




    