.box{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}
.imgcontainer img{
    margin-top: 10px;
    height: 100%;
    max-height: 500px;
}
.box{
    width: 200px;
    height: 200px;
    margin-top:0px;
    margin-bottom: 0px;
}