/* Most situable for redmi note 10 */
body{
    overflow-y: hidden;
}
nav>ul>li{
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0px;
}
nav li a:-webkit-any-link{
    padding: 0px 16px;
}
.navbar{
    height: 36px;
}
.dropdown li a:-webkit-any-link{
    padding: 0px;
}
h2{
    font-size: 36px;
}
.box{
    width: 200px;
    height: 200px;
    margin-top: 200px;
}
.imgcontainer img{
    margin-top: 190px;
    height: 100%;
    max-height: 500px;
}
.football{
    position: absolute;
    top: 69%;
    left: 56%;
    z-index: -3;
    animation: bounce 1.6s linear infinite;
}
.football img{
    height: 30px;
    width: 30px;
}
.wrapper{
    overflow: hidden;
}



    