nav>ul>li{
    font-size: .9rem;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}
nav li a:-webkit-any-link{
    padding: 0px 8px;
}
.navbar{
    height: 40px;
}
.dropdown li a:-webkit-any-link{
    padding: 0px 3px;
}