nav>ul>li{
    font-size: .8rem;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0px;
}
nav li a:-webkit-any-link{
    padding: 0px 10px;
}
.navbar{
    height: 38px;
}
.dropdown li a:-webkit-any-link{
    padding: 0px 3px;
}
